<!doctype html>
<html>
<head>
    <title>Grood Authentication</title>
    <link rel="shortcut icon" id="favicon" href="img/logo.png">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container" ondragstart="return false;">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Grood Authentication</h1>

        <p>Login or Register:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
	</br>
 	<img src="/img/logo.png" alt="logo" height="200"> 
	<img src="/img/groot.png" alt="Groot" height="200"> 
    </div>

    <div class="text-center">
        <p>A demo based on <a href="http://scotch.io">Scotch</a> work.</p>
    </div>

</div>
</body>
</html>
